<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AstroNET.AstroNETSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfApp1.AstroNET" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AstroNET.AstroNETSettings>
            <setting name="DefaultCity" serializeAs="String">
                <value>London</value>
            </setting>
        </AstroNET.AstroNETSettings>
        <WpfApp1.AstroNET>
            <setting name="DefaultCity" serializeAs="String">
                <value>Roma</value>
            </setting>
        </WpfApp1.AstroNET>
    </userSettings>
</configuration>